
<h1>Welcome <span class="welcome">{{name}}</span> ! </h1>
<h1>
    <a href="/customer" class="btn btn-danger btn-large" style="background-color:#e51e2a;font-weight:bold">
        <i class="fa-solid fa-user"></i>&nbsp; &nbsp; Customer
    </a>
</h1>
<h1>
    <a href="/shopkeeper" class="btn btn-danger btn-large" style="background-color:#e51e2a;font-weight:bold">
        <i class="fa-solid fa-shop"></i>&nbsp; &nbsp; Shopkeeper
    </a>
</h1>

{{!-- <h1><a href="/auth/logout" style="color: red">Logout</a></h1> --}}

